.mainContainer {
  display: flex;
}

.heading {
  margin: 30px 15px 15px 15px;
}

.listContainerFullWidth {
  background-color: #fafafa;
  padding: 0 20px;
  width: 100%;
}

.listContainerSplitWidth {
  background-color: #fafafa;
  padding: 0 20px;
  width: 70%;
}

.sheetContainer {
  transition: transform 1s ease-in;
  background-color: #fff;
  border-left: outset 2px;
  padding: 10px;
  width: 30%;
}
